{% extends 'sign/base.html' %}
{% block content %}
    {% load static %}
    <div class="image-wrapper">
        <img src="{% static 'sign/images/dancing-brawl-stars.gif' %}">
    </div>
    <h1>Sign Up</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <form method="POST" class="form">
        {% csrf_token %}

        {{ forms.name }}

        {{ forms.email }}

        {{ forms.password }}

        {{ forms.repeat_password }}

        <button type="submit" class="btn" id="submit">Register</button>
    </form>
{% endblock %}
