{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'news/css/register.css' %}">
</head>
<body>
<div class="image-wrapper">
    <img src="{% static 'news/images/dancing-brawl-stars.gif' %}">
</div>

<form method="post">
    {% csrf_token %}
    <div><input type="text" name="username" placeholder="Username" required=""></div>
    <div><input type="email" name="email" placeholder="Email" required=""></div>
    <div><input type="password" name="password1" placeholder="Password" required=""></div>
    <div><input type="password" name="password2" placeholder="Confirm Password" required=""></div>
    {{ form.errors }}
    <div class="button"><input type="submit" value="SIGNUP"></div>
</form>
<p>Don't have an Account? <a href="{% url 'login' %}"> Login Now!</a></p>
</div>
</div>
</body>
</html>