{% extends "base.html" %}

{% block new_user %}
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.age}}</td>
    </tr>
    {% endfor %}
</table>

<br>
<br>
<br>

<form action="/sync" method="POST">
    <input type="submit" value="Sync">
</form>

<form action="/upload" method="POST">
    <input type="submit" value="Upload">
</form>
<form action="/delete" method="POST">
    <input type="submit" value="Delete all">
</form>

{% endblock %}