<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'sign/css/styles.css' %}">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

{% block content %}
{% endblock %}

{#<script type="text/javascript" src="{% static 'sign/js/validator.js' %}"></script>#}
</body>
</html>